*{
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: normal;
	line-height: 21px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
a{
	color: #000000;
}
ul{
	list-style-type: none;
}
h1{
  font-size: 21px;
  font-weight: bold;
  line-height: 1.238;
  text-align: center;
}
h2{
  font-size: 16px;
  font-family: "PT Sans";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.313;
  text-align: left;
}

.container{
	box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
	padding: 0;
}
/*HEADER*/
.main-nav{
	height: 60px;
	padding: 0 70px;
}
.logo{
	position: relative;
}
.main-nav .nav-link{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8;
	padding: 0;
  	text-align: center;
}
.main-nav .nav-link:hover{
	color: #81b3d2;
}
.main-nav .nav-link:active{
	color: #b2b2b2;
}
.nav-item .active{
	color: #9b8d84;
}
/*MAIN*/

/*WELCOME BLOCK*/
.welcome-block img{
	width: 100%;
}
/*DESCRPTION*/
.description-main h1{
	font-size: 21px;
	height: 48px;
	margin: 10px auto 30px auto;
	width: 440px;
}
.description-main p{
	color: #333333;
	font-size: 14px;
	line-height: 1.857;
	margin-bottom: 30px;
	text-align: center;
}
.description-picture img{
	height: auto;
	width: 100%;
}
.description{
	margin-top: 70px;
	padding: 0;
}
.description-item{
	background-color: #81b3d2;
	margin: 0;
	padding: 50px 60px 40px 60px;
	width: 33.3%;
}
.description-item h2{
	color: #ffffff;
	font-size: 21px;  
	font-weight: bold;
	line-height: 1;
}
.description-item p, 
.description-item span 
{
	color: #ffffff;
	text-align: center;
}
.description-item span{
	display: block;
	font-weight: bold;
	margin: 20px 0;
}

/*ADVANTAGES BLOCK*/
.advantages-block-item{
	padding: 10px 40px;
}
.advantages-block-item:first-child h3:before{
	background-image: url('../images/icon-1.png');
}
.advantages-block-item:last-child h3:before{
	background-image: url('../images/icon-2.png');
}
.advantages-block-item h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
}
.advantages-block-item h3:before{
	background: url('../images/icon-3.png') no-repeat;
	content: " ";
	display: block;
	height: 72px;
	margin: 60px auto 32px auto;
	position: relative;
	width: 72px;
}

.advantages{
	background-color: #eeeeee;
	padding-left: 0;
	padding-right: 0;
}
.advantages-item{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 86px;
	padding-right: 86px;
}
.advantages-item h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
}
.advantages-item span{
	display: block;
	font-weight: bold;
	margin: 18px 0;
}
/*INTEREST BLOCK*/
.interest-block{
	padding-top: 50px;
	padding-bottom: 56px;
	position: relative;
}

.interest-block .title{
	margin-bottom: 50px;

}
.interest-block .title h2{
	text-align: center;
}
.form{
	position: absolute;
	left: 25%;
}
.form .card-header{
	background-color: #766357;
}
.form .btn-link{
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.238;
	text-align: center;
	text-decoration: none;
}

.form .search-form{
	padding-left: 40px;
}
.search-form input{
	background-color: #f2f2f2;
	border: none;
	height: 40px;
	margin-bottom: 23px;
	margin-left: 21px;
	padding-left: 5px;
	outline: none;
	width: 60%;
}
.amount label{
	margin-top: 10px;
	margin-right: 41px;
}
.amount input{
	margin: 0 10px;
	width: 10%;
}
.icon-plus{
	background-image: url("../images/+	.png");
	margin-right: 53px;
}
.icon-minus{
	background-image: url("../images/-.png");
}
.icon-plus,
.icon-minus
{
	background-position: 50% 50%;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	border: none;
	display: inline-block;
	height: 30px;
	outline: none;
	width: 20px;
}
.icon-plus:focus,
.icon-minus:focus{
	outline: none;
}
.amount input{
	display: inline-block;
	height:  30px;
	margin: 0;
	text-align: center;
}
.form .search-btn{
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	font-weight: bold;
	margin-top: 54px;
	outline: none;
	padding: 17px 192px 12px 192px;
	text-transform: uppercase;
}
/*MAP*/
.map{
	overflow: hidden;
}
.map iframe{
	border: none;
}
/*FOOTER*/
.d-footer{
	padding-top: 52px;
	padding-bottom: 20px;
}
.tag-item a{
	font-size: 21px;
	font-family: "PT Sans";
	font-weight: bold;
	line-height: 1.238;
	text-align: center;
	text-decoration: none;
}

.social-btn{
	background-color: #81b3d2;
	background-image: url('../images/t.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 2px;
	display: block;
	height: 30px;
	margin-left: 5px;
	text-align: center;
	width: 30px;
}
.fb{
	background-image: url('../images/fb-icon.png');
}
.yt{
	background-image: url('../images/youtube.png');
}
.social-btn:hover{
	background-color: #669ec0;
}

.author a{
	background: url("../images/logo_name.png") no-repeat;
	display: block;
	font-size: 0;
	height: 41px;
	width: 115px;
}
.author a:hover{
	background: url("../images/logo_name_hover.png") no-repeat;
}






/*Sedona Hotels*/

.filters-block{
	padding: 2% 5%;
	background-image: url("../images/filtersbg.png");
	background-size: cover;
	color: #ffffff;
}
.filters-block h2{
	color: #ffffff;
}
.list input[type="checkbox"]{
	display: none;
}
.list label{
	cursor: pointer;
}
.list li:before{
	display: inline-block;
	content: " ";
	width: 24px;
	height: 24px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	position: relative;
	top: 5px;
	cursor: pointer;
}
.cost-control{
	border: 1.5px solid #ffffff;
	border-radius: 5px;
	padding: 11px 24px 0px 24px;
}
.cost-control input[type="text"]{
	width: 70px;
	border: none;
	background: none;
	color: #ffffff;
	outline: none;
}

.max-cost{
	border-left: 2px solid #ffffff;
	padding-left: 22px;
}
.btn-show{
	border: 1.5px solid #ffffff;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
	padding: 8px 30px;
	background:none;  
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
}
.btn-show:hover{
	background-color: #ffffff;
	color: #000000;
}
.results-header{
	padding: 30px 73px;
}
.results-header h2 {
  font-size: 21px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
  text-align: left;
  margin-right: 40px;
}
.sort-nav h3{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  line-height: 1.5;
  text-align: left;
  margin-right: 35px;
}
.sort-nav li{
	margin-right: 30px;
}
.sort-nav .active{
	border: none;
	color: #81b3d2;
}
.sort-nav li > button{
	border: none;
	border-bottom: 1px dotted #81b3d2;
	outline: none;
	background: none;
	color: #c6c6c6;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;
}
.sort-nav li > button:hover{
	color: #92bdd8;
}
.sort-nav li > button:active{
	color: #444444;
	border: none;
}
.results-main{
	border-top: 1px solid #e5e5e5;
}
.results-item{
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 0px 30px 73px;
}
.results-item div{
	margin-left: 25px;
}
.results-item .item-title a{
	font-size: 21px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.238;
	text-decoration: none;
}
.results-item .item-title a:hover{
	color: #a3c7de;
}
.results-item .item-title a:active{
	color: #b2b2b2;
}
.results-item span{
	font-size: 14px;
  	color: #333333;
  	text-transform: uppercase;
  	line-height: 1.5;
}
.results-item .item-type{
	border: 1px solid red;
}
.btn-read-more,
.btn-reserved
{
	color: #ffffff;
	font-size: 14px;
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.5;
  	padding: 3px 13px;
  	border: none;
  	background: none;
}
.btn-read-more:focus,
.btn-reserved:focus{
	outline: none;
}
.btn-read-more{
	background-color: #81b3d2;
}
.btn-read-more:hover{
	background-color: #669ec0;
}
.btn-read-more:active{
	color: #629fc2;
	background-color: #5496bd;
}
.btn-reserved{
	background-color: #766357;
}
.btn-reserved:hover{
	background-color: #604e43;
}
.btn-reserved:active{
	color: #857871;
	background-color: #503e33;
}
@media screen and (max-width: 768px){
.description{
	flex-direction: column;
}
.description-item{
	width: 100%;
}
.main-nav{
	padding: 0 10px;
}
.advantages-item{
	padding-left: 20px;
	padding-right: 20px;
}
.search-form .amount{
	flex-direction: column;
}
.form .search-btn{
	padding: 17px 40px 12px 40px;
}
.search-form input{
	width: 100%;
}
.amount input{
	width: 10%;
}
.main-nav .nav-link{
	font-size: 13px;
}
}