*{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: normal;
	line-height: 21px;
}
a{
	color: #000000;
}
h1{
  font-size: 21px;
  line-height: 1.238;
  text-align: center;
  font-weight: bold;
}
.container{
	box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
	padding: 0;
}
/*HEADER*/
.main-nav{
	padding: 0 70px;
	height: 60px;
}
.logo{
	position: relative;
}
.main-nav .nav-link{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8;
  	text-align: center;
	padding: 0;
}
.main-nav .nav-link:hover{
	color: #81b3d2;
}
/*MAIN*/
.welcome-block img{
	width: 100%;
}
.description-main h1{
	width: 440px;
	height: 48px;
	margin: 10px auto 30px auto;
}
.description-main p{
	font-size: 14px;
	color: rgb(51, 51, 51);
	line-height: 1.857;
	text-align: center;
	margin-bottom: 30px;
}
.description{
	margin-top: 70px;
	padding: 0;
}
.description-picture img{
	width: 100%;
	height: auto;
}
.description-item{
	background-color: #81b3d2;
	margin: 0;
	width: 33.3%;
}
.description-item h2{
	font-size: 21px;  
	font-weight: bold;
	line-height: 1; 
	color: #ffffff;

}
.description-item{
	padding: 50px 60px 40px 60px;
}
.description-item span{
	display: block;
	margin: 20px 0;
	font-weight: bold;
}
.description-item p , .description-item span {
	color: #ffffff;
	text-align: center;
}
.advantages-block-item h3{
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
}
.advantages-block-item h3:before{
	content: " ";
	display: block;
	width: 72px;
	height: 72px;
	position: relative;
	margin: 60px auto 32px auto;
	
	background: url('../images/icon-3.png') no-repeat;
}
.advantages-block-item{
	padding: 10px 40px;
}
.advantages-block-item:first-child h3:before{
	background-image: url('../images/icon-1.png');
}
.advantages-block-item:last-child h3:before{
	background-image: url('../images/icon-2.png');
}

.advantages{
	padding-left: 0;
	padding-right: 0;
	background-color: #eeeeee;
}
.advantages-item{
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 86px;
	padding-right: 86px;
}
.advantages-item h3{
	font-size: 21px;
	
	font-weight: bold;
	line-height: 1;
}
.advantages-item span{
	display: block;
	margin: 18px 0;
	font-weight: bold;
}

.interest-block{
	padding-top: 50px;
	padding-bottom: 56px;
	position: relative;
}

.interest-block .title{
	margin-bottom: 50px;
}
.form{
	position: absolute;
	left: 25%;
}
.form .card-header{
	background-color: #766357;
}
.form .btn-link{
	font-size: 21px;
	font-weight: bold;
	line-height: 1.238;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.form .search-form{
	padding-left: 40px;
}
.search-form input{
	outline: none;
	border: none;
	width: 60%;
	height: 40px;
	margin-left: 21px;
	margin-bottom: 23px;
	padding-left: 5px;
	background-color: #f2f2f2;
}
.amount input{
	width: 10%;
	margin: 0 10px;
}
.amount label{
	margin-top: 10px;
	margin-right: 41px;
}
.icon-minus{
	outline: none;
	border: none;
	display: inline-block;
	width: 20px;
	height: 30px;
	background-color: #f2f2f2;
	background-image: url("../images/-.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.icon-plus{
	outline: none;
	border: none;
	display: inline-block;
	width: 20px;
	height: 30px;
	background-color: #f2f2f2;
	background-image: url("../images/+	.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 53px;
}
.icon-plus:focus,
.icon-minus:focus{
	outline: none;
}
.amount input{
	display: inline-block;
	height:  30px;
	margin: 0;
	text-align: center;
}
.form .search-btn{
	border: none;
	outline: none;
	background-color: #81b3d2;
	margin-top: 54px;
	padding: 17px 192px 12px 192px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}

.map{
	overflow: hidden;
}
.d-footer{
	padding-top: 52px;
	padding-bottom: 20px;
}
.tag-item a{
	  font-size: 21px;
	  font-family: "PT Sans";
	  font-weight: bold;
	  line-height: 1.238;
	  text-align: center;
	  text-decoration: none;
}

.social-btn{
	width: 30px;
	height: 30px;
	background-color: #81b3d2;
	display: block;
	margin-left: 5px;
	text-align: center;
	background-image: url('../images/t.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 2px;
}
.fb{
	background-image: url('../images/fb-icon.png');
}
.yt{
	background-image: url('../images/youtube.png');
}
.social-btn:hover{
	background-color: #669ec0;
}

.author a{
	width: 115px;
	height: 41px;
	display: block;
	background: url("../images/logo_name.png") no-repeat;
	font-size: 0;
}
.author a:hover{
	background: url("../images/logo_name_hover.png") no-repeat;
}

@media screen and (max-width: 768px){
.description{
	flex-direction: column;
}
.description-item{
	width: 100%;
}
.main-nav{
	padding: 0 10px;
	
}
.advantages-item{
	padding-left: 20px;
	padding-right: 20px;
}
.search-form .amount{
	flex-direction: column;
}
.form .search-btn{
	padding: 17px 40px 12px 40px;
}

.search-form input{
	width: 100%;
}
.amount input{
	width: 10%;
}
.main-nav .nav{
	
}
.main-nav .nav-link{

	font-size: 13px;
}
}